@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  width: 99%;
  background-color: var(--pink);
}

:root {
  --red: #6B0000;
  --pink: #FFFCFE;
  --light-pink: #f2eaf0;
  --transparent: #ffffff00;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
  color: var(--red);
  width: 100vw;
  padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh
  }

.container {
  display: flex;
  height: 100vh;
}

.content {
    display: flex;
    align-items: flex-end; /* Aligns items at the bottom */
    height: 100vh; /* Full viewport height */
    text-align: left;
}

.content h1 {
    line-height: 1;
    padding-left: 30px;
    padding-bottom: 10px;
}

.content span {
    position: relative;
    top: -40px;
}

.app-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.calendar {
  width: 60%;
  overflow: auto;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
}

.calendar-header h2 {
  font-size: 18px;
  font-weight: 400;
}

.calendar-header button {
  background: none;
  color: #600202;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.calendar-header-button-section {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-header-button-section #arrow-button {
  background: none;
  color: #600202;
  border: none;
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
  margin-bottom: 2px;
}

.calendar-header-button-section #today-button {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: white;
  color: #600202;
  cursor: pointer;
  border: 1px solid #600202;
  border-radius: 10px;
}

.calendar-header-button-section #today-button:hover {
  background-color: #f2eaf0;
  transition: 200ms;
}

.calendar-header-button-section #today-button-active {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #6B0000;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.today-button {
  text-align: right;
  margin-bottom: 10px;
}

.today-button button {
  height: 100%;
  background-color: #6B0000;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.today-button button:hover {
  color: white;
  background-color: #480707;
}

.calendar-body {
  display: flex;
  flex-direction: column;
}

.calendar-weekdays {
  display: flex;
}

.calendar-weekday {
  width: calc(100% / 7); /* Ensure 7 equal columns */
  text-align: center;
  padding: 10px 0;
  font-size: 13px;
  font-weight: 400;
}

.calendar-grid {
  display: flex;
  flex-wrap: wrap;
  border: 0.5px solid #6B0000;
  font-size: 13px;
  height: 100%;
  font-weight: 400;
}

.calendar-day {
  width: calc(100% / 7); /* Ensure 7 days per row */
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 10px 0;
  box-shadow:inset 0px 0px 0px 0.5px #6B0000;
}

.current-month {
  background-color: #FFFCFE;
}

.other-month {
  color: #ccc;
}

.current-day {
  background-color: var(--light-pink);
}

.input-container {
  display: flex;
  height: 100%;
}

.calendar-day input {
  display: inline-block;
  align-self: flex-end;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 12px;
  color:#6B0000;
  background-color: #ffffff00;
  width: 90%;
  flex-grow: 1;
  padding-left: 10.5px;
  border: 0px solid #ddd;
}

#input-bottom {
  position: absolute;
  bottom: 0;
}

.task-drop-area {
  min-height: 40px;
  background-color: #ffffff00;
  border-top: 1px solid #6B0000;
  border-left: 0.5px solid #6B0000;
  border-right: 0.5px solid #6B0000;
  margin-top: 5px;
}

.dropped-task {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 12px;
  /* background-color: #6B0000; */
  text-align: left;
  color: #6B0000;
  margin-left: 10px;
  overflow-wrap: break-word;
  margin-top: 5px;
  margin-bottom: 4px;
  border-radius: 3px;
}

.complete {
  text-decoration: line-through;
  text-decoration-thickness: 2px; 
}

.divider {
  width: 5px;
  background-color: #600202; /* Change this color to make it visible */
  cursor: col-resize;
  height: 100vh;
  position: relative;
}

/* Divider hover effect */
.divider:hover {
  background-color: #480707; /* Darker color on hover for visibility */
}


.task-section {
  width: 35%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.task-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.task-section h2 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}

.tasks-container {
  padding: 5px;
}

.task-container {
  display: flex;
}

.task-container h1 {
  margin: 0px;
  font-size: 13px;
  font-weight: 400;
  margin-left: 5px;
}

.task-section form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}


.task-section input {
  display: flex;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-size: 12px;
  height: 80%;
  color: #6B0000;
  padding-left: 10px;
  flex-grow: 1;
  width: 80%;
  box-shadow:inset 0px 0px 0px 1px #dedada;
  border: 0px solid #dedada;
  border-radius: 10px;
}

.task-section button {
  display: flex;
  height: 80%;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  flex-grow: 1;
  padding-bottom: 2px;
  width: 40px;
  border: 0px solid #6B0000;
  border-radius: 10px;
  color:#f9f9f9;
  margin-left: 10px;
  background-color: #6B0000;
}

.task-section button:hover {
  color: white;
  background-color: #480707;
  transition: 200ms;
}

ul {
  list-style-type:none;
}

li {
  font-size: 12px;
}

*:focus {
  outline: none;
}

* {
  user-select: none;
}